<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politica de privacidad - Artea</title>
    <link rel="icon" href="../images/Logo.png" type="image/png">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header  class="header-con-sombra">
        <div class="logo">
            <img src="../images/encabezado1.png" alt="Artea">
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="galeria.html">GALERIA</a></li>
                <li><a href="presupuesto.html">PRESUPUESTO</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="legal-notice">
            <h1>Política de Privacidad de Artea</h1>
            <p>Última actualización: Noviembre 2024</p>

            <h2 id="introduccion">1. Introducción</h2>
            <p>En Artea, valoramos su privacidad y estamos comprometidos a proteger su información personal. Esta política de privacidad explica cómo recopilamos, usamos, divulgamos y protegemos su información cuando visita nuestro sitio web o realiza una compra de nuestras obras de arte.</p>

            <h2 id="informacion-recopilamos">2. Información que recopilamos</h2>
            <p>Podemos recopilar la siguiente información:</p>
            <ul>
                <li>Información de contacto, como nombre, dirección de correo electrónico y número de teléfono.</li>
                <li>Información de pago, como detalles de tarjetas de crédito y facturación.</li>
                <li>Información sobre su dispositivo y actividad en nuestro sitio web, como dirección IP y comportamiento de navegación.</li>
            </ul>

            <h2 id="uso-informacion">3. Uso de la información</h2>
            <p>Utilizamos la información que recopilamos para:</p>
            <ul>
                <li>Procesar y gestionar sus pedidos de obras de arte.</li>
                <li>Mejorar nuestro sitio web y personalizar su experiencia.</li>
                <li>Enviarle información sobre nuestras obras, promociones y actualizaciones.</li>
                <li>Atender sus consultas y brindar atención al cliente.</li>
            </ul>

            <h2 id="compartir-informacion">4. Compartir su información</h2>
            <p>No vendemos, intercambiamos ni transferimos su información personal a terceros sin su consentimiento, excepto en los siguientes casos:</p>
            <ul>
                <li>Con proveedores de servicios que nos ayudan a operar nuestro sitio web y realizar nuestro negocio.</li>
                <li>Cuando sea requerido por la ley o para proteger nuestros derechos.</li>
            </ul>

            <h2 id="seguridad-informacion">5. Seguridad de la información</h2>
            <p>Implementamos medidas de seguridad adecuadas para proteger su información personal. Sin embargo, ningún método de transmisión por Internet o método de almacenamiento electrónico es 100% seguro. Por lo tanto, aunque nos esforzamos por utilizar medios comercialmente aceptables para proteger su información personal, no podemos garantizar su seguridad absoluta.</p>

            <h2 id="sus-derechos">6. Sus derechos</h2>
            <p>Usted tiene derecho a:</p>
            <ul>
                <li>Acceder a su información personal.</li>
                <li>Solicitar la corrección de información inexacta.</li>
                <li>Solicitar la eliminación de su información personal.</li>
            </ul>

            <h2 id="cambios-politica">7. Cambios a esta política de privacidad</h2>
            <p>Podemos actualizar esta política de privacidad de vez en cuando. Le notificaremos sobre cambios importantes mediante la publicación de la nueva política en nuestro sitio web. Se recomienda revisar esta política periódicamente para estar al tanto de cualquier cambio.</p>

            <h2 id="contacto">8. Contacto</h2>
            <p>Si tiene alguna pregunta o inquietud sobre esta política de privacidad, no dude en contactarnos a través de:</p>
            <p>Email: <a href="mailto:info@artea.com">info@artea.com</a></p>
        </div>
    </main>



    <footer>

    <div class="social-media">
        <h3>Mantente al día en nuestras redes:</h3>
        <a class="ac" href="https://facebook.com" target="_blank">
            <img src="../images/facebook.png" alt="Facebook"> <span>Facebook</span>
        </a>
        <a class="ac" href="https://instagram.com" target="_blank">
            <img src="../images/instagram.PNG" alt="Instagram"> <span>Instagram</span>
        </a>
        <a class="ac" href="https://x.com" target="_blank">
            <img src="../images/x.png" alt="X/Twitter"> <span>X/Twitter</span>
        </a>
    </div>
    <div class="info-legal">
        <h3 class="andress">Dirección:</h3>
        <p class="andressp"> Calle del Barquillo 3, Centro, 28004 Madrid.</p>
        <a class="avl" href="aviso-legal.html">Aviso Legal</a>
        <a class="pp" href="politica-privacidad.html">Política de Privacidad</a>
    </div>
    </footer>

</body>
</html>